@using API_Consume.CF;
@using API_Consume.BAL;
@using API_Consume.DAL;
@using API_Consume.Areas.ACC.Models;
@using static API_Consume.DAL.ACC_AccountVoucherDALBase;
@model Tuple<ACC_AccountVoucherModel, PagedListPagerModel, List<dbo_PR_ACC_AccountVoucher_SelectAll_Result>>

@{
    UserOperationRightsModel vUserOperationRightsModel = ViewBag.UserOperationRights;
}

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0">
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end pt-md-3" data-kt-customer-table-toolbar="base">
                        <!--begin::Title-->
                        <div class="d-flex justify-content-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </div>

                            <div class="mx-2">
                                <h3 class="text-dark ">
                                    <span class="text-dark">@ViewBag.SearchResultHeaderText</span>
                                </h3>
                            </div>

                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Card toolbar-->
                <!--begin::Card title-->
                <div class="card-title">
                    <div class="d-flex justify-content-center">
                        <div>
                            <a asp-area="ACC" asp-action="AddEdit" asp-controller="ACC_AccountVoucher" class="btn btn-sm btn-success">
                                <i class="fa fa-plus"></i> Add Account Voucher
                            </a>
                        </div>

                        <!--begin::Download Excel-->
                        <div style="padding-left:10px;">
                            <form id="frmExportExcel" class="" target="_blank"
                                  asp-action="ExportExcel" asp-controller="ACC_AccountVoucher" asp-area="ACC">
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="TotalRecords" class="" name="TotalRecords" value="@(Model.Item3.First().TotalRecords)" />
                                <button type="submit" class="btn btn-sm btn-success">
                                    Export Excel
                                </button>
                            </form>
                        </div>
                        <!--end::Download Excel-->
                    </div>
                </div>
                <!--begin::Card title-->
            </div>
            <hr />
            <!--end::Card header-->
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-md-12">
                        <partial name="/Views/Error/_ucShowInfo.cshtml" />
                    </div>
                </div>
                <div class="col-md-12" id="divCityList">


                    <form id="hdFormUpdateCityList" class="" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
                          asp-action="_SearchResult" asp-controller="ACC_AccountVoucher" asp-area="ACC">
                        @Html.AntiForgeryToken()
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-7">
                                Page size: @Html.DropDownList("F_PageSize", Model.Item2.PageSizeList, new { @class = "form-select js-grid-hd-input", style = "display: inline; width: 65px; height: 30px; padding: 0px 4px; padding-top: 2px; padding-bottom: 6px;" })
                                <div class="d-inline-bMEMk">@Html.Raw(Model.Item2.PageInfo)</div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" id="GoToPageNo" class="js-grid-hd-input" name="F_PageNo" value="@(Model.Item1.F_PageNo)" />
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="tblList">
                            <thead class="table-secondary">
                                <tr class="fw-bold">
                                    <th width="10%">Account Doc</th>
                                    <th width="8%">Voucher No.</th>
                                    <th width="10%">Voucher Date</th>
                                    <th width="8%">Amount</th>
                                    <th>Debit Account</th>
                                    <th>Credit Account</th>
                                    <th width="5%">User</th>
                                    <th width="8%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @if (Model.Item3.Count == 0)
                                {
                                    <tr class="text-center">
                                        <td colspan="8">No records found...!</td>
                                    </tr>
                                }
                                @foreach (var item in Model.Item3)
                                {
                                    i++;
                                    <tr>
                                        <td>@item.AccountDocName</td>
                                        <td>@item.VoucherNo</td>
                                        <td>@Convert.ToDateTime(item.VoucherDate).ToString("dd-MM-yyyy")</td>
                                        <td>@item.Amount</td>
                                        <td>@item.DebitAccountName</td>
                                        <td>@item.CreditAccountName</td>
                                        <td>@item.UserName</td>
                                        <td class="text-center">
                                            @if (vUserOperationRightsModel.IsEdit)
                                            {
                                                <span data-bs-toggle="tooltip" data-bs-placement="left" title="Edit">
                                                    <a asp-area="ACC" asp-action="AddEdit" asp-controller="ACC_AccountVoucher" asp-route-AccountVoucherID="@item.AccountVoucherID" class="btn btn-primary btn-icon btn-elevate btn-sm">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </span>
                                            }

                                            @if (vUserOperationRightsModel.IsDelete)
                                            {
                                                <form method="post" asp-area="ACC" asp-action="_Delete" asp-controller="ACC_AccountVoucher" style="display: inline;">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="AccountVoucherID" value="@item.AccountVoucherID" />
                                                    <a class="btn btn-danger btn-icon btn-elevate btn-sm js-bb-confirm-delete" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete"><i class="fa fa-trash"></i></a>
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end pull-end">
                        <partial name="/Views/Shared/_GeneratePager.cshtml" model="@Model.Item2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".js-grid-hd-input").on("change", function () {
        $("#hdFormUpdateCityList").submit();
    });
</script>
